SUBSYSTEM=="video4linux", KERNEL=="video[0-9]*", ATTRS{product}=="Logitech Webcam C930e", ATTRS{serial}=="B6EC49EE", RUN="/usr/bin/v4l2-ctl -d $devnode --set-ctrl=zoom_absolute=140"
